# Loading the dataset and EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
books = pd.read_csv('/Users/deyachatterjee/Desktop/Book_recommender/Dataset/BX-Books.csv', sep = ';', error_bad_lines=False, encoding ='latin-1')

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [13]:
link=books.iloc[237]['Image-URL-L']
link

'http://images.amazon.com/images/P/0671027387.01.LZZZZZZZ.jpg'

In [19]:
#!curl 'http://images.amazon.com/images/P/0671027387.01.LZZZZZZZ.jpg'

In [6]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [16]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [23]:
books.shape

(271360, 6)

In [17]:
books.rename(columns={'Book-Title': 'Title',
                       'Book-Author': 'Author',
                        'Year-Of-Publication': 'Year',
                     'Publisher': 'Publisher',
                     'Image-URL-L': 'Image_url'}, inplace=True)

/var/folders/xd/f2lb04795rx9zvt2vd0bv0b00000gn/T/ipykernel_31789/2810156380.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(columns={'Book-Title': 'Title',

In [18]:
books.head()

,ISBN,Title,Author,Year,Publisher,Image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [20]:
#Loading the dataframe having user information 
users = pd.read_csv('/Users/deyachatterjee/Desktop/Book_recommender/Dataset/BX-Users.csv', sep = ';', error_bad_lines=False, encoding ='latin-1')

/var/folders/xd/f2lb04795rx9zvt2vd0bv0b00000gn/T/ipykernel_31789/1143854161.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('/Users/deyachatterjee/Desktop/Book_recommender/Dataset/BX-Users.csv', sep = ';', error_bad_lines=False, encoding ='latin-1')

In [21]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [22]:
users.shape

(278858, 3)

In [25]:
#Loading the dataframe containing user ratings
ratings = pd.read_csv('/Users/deyachatterjee/Desktop/Book_recommender/Dataset/BX-Book-Ratings.csv', sep = ';', error_bad_lines=False, encoding ='latin-1')

/var/folders/xd/f2lb04795rx9zvt2vd0bv0b00000gn/T/ipykernel_31789/1922670285.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('/Users/deyachatterjee/Desktop/Book_recommender/Dataset/BX-Book-Ratings.csv', sep = ';', error_bad_lines=False, encoding ='latin-1')

In [35]:
ratings.rename(columns={'User-ID': 'UID','Book-Rating': 'Ratings'}, inplace=True)

In [36]:
ratings.head()

      UID        ISBN  Ratings
0  276725  034545104X        0
1  276726  0155061224        5
2  276727  0446520802        0
3  276729  052165615X        3
4  276729  0521795028        6

In [27]:
ratings.shape

(1149780, 3)

In [37]:
ratings['UID'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: UID, Length: 105283, dtype: int64

# Collaborative filtering using clustering

In [38]:
ratings['UID'].value_counts().shape

(105283,)

In [39]:
#We will consider only those users who have rated over 200 books
x = ratings['UID'].value_counts()>200

In [41]:
x[x].shape

(899,)

In [42]:
y=x[x].index

In [43]:
ratings = ratings[ratings['UID'].isin(y)]

In [44]:
ratings.shape

(526356, 3)

In [47]:
ratings.head(20)

         UID        ISBN  Ratings
1456  277427  002542730X       10
1457  277427  0026217457        0
1458  277427  003008685X        8
1459  277427  0030615321        0
1460  277427  0060002050        0
1461  277427  0060006641       10
1462  277427  0060159685        0
1463  277427  0060177721        0
1464  277427  0060192704        0
1465  277427  0060542128        7
1466  277427  0060913509        0
1467  277427  0060929197        0
1468  277427  006092988X        0
1469  277427  0060930535        0
1470  277427  0060932139        0
1471  277427  0060934417        0
1472  277427  0060951605        0
1473  277427  0061004251        0
1474  277427  0061009059        9
1475  277427  0061030430        0

In [49]:
books_ratings = ratings.merge(books, on= 'ISBN')

In [50]:
books_ratings.head()

,UID,ISBN,Ratings,Title,Author,Year,Publisher,Image_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [52]:
books_ratings.shape

(487671, 8)

In [55]:
number_rating = books_ratings.groupby('Title')['Ratings'].count().reset_index()

In [56]:
number_rating.head()

                                               Title  Ratings
0   A Light in the Storm: The Civil War Diary of ...        2
1                              Always Have Popsicles        1
2               Apple Magic (The Collector's series)        1
3   Beyond IBM: Leadership Marketing and Finance ...        1
4   Clifford Visita El Hospital (Clifford El Gran...        1

In [57]:
number_rating.rename(columns={'Ratings': 'Rating_num'}, inplace = True)

In [58]:
number_rating.head()

                                               Title  Rating_num
0   A Light in the Storm: The Civil War Diary of ...           2
1                              Always Have Popsicles           1
2               Apple Magic (The Collector's series)           1
3   Beyond IBM: Leadership Marketing and Finance ...           1
4   Clifford Visita El Hospital (Clifford El Gran...           1

In [60]:
final_rating = books_ratings.merge(number_rating, on = 'Title')

In [61]:
final_rating.head()

,UID,ISBN,Ratings,Title,Author,Year,Publisher,Image_url,Rating_num
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [62]:
final_rating.shape

(487671, 9)

In [64]:
# Taking those books only which got rating above 50
final_rating = final_rating[final_rating['Rating_num'] >= 50]

In [65]:
final_rating.head()

,UID,ISBN,Ratings,Title,Author,Year,Publisher,Image_url,Rating_num
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [66]:
final_rating.shape

(61853, 9)

In [67]:
final_rating.drop_duplicates(['UID', 'Title'], inplace = True)

In [68]:
final_rating.shape

(59850, 9)

In [70]:
#Creating a pivot table
book_pivot = final_rating.pivot_table(columns='UID', index = 'Title', values = 'Ratings')

In [71]:
book_pivot

UID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
book_pivot.fillna(0, inplace = True)

In [73]:
book_pivot

UID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores=cosine_similarity(book_pivot)
similarity_scores.shape

In [ ]:
def recommender(book):
    index=np.where(book.pivot.index==book)[0][0]
    distances=similarity_scores[index]
    similar_items=sorted(list(enumerate(distances)), key = lambda x:x[1], reverse=True)[1:6])
    suggestions=[]
    for i in similar_items:
        suggestions.append(book_pivot[i[0]])
    return suggestions

# Training the model

In [76]:
from scipy.sparse import csr_matrix

In [77]:
book_sparse = csr_matrix(book_pivot)

In [78]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [80]:
# Implementing Nearest Neighbours clustering algorithm to get the top recommendations
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors (algorithm = 'brute')

In [81]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [86]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors = 6)

In [88]:
suggestion

array([[237, 240, 238, 241, 184, 536]])

In [89]:
distance

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [95]:
book_pivot.iloc[237]

UID
254       9.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    9.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: Harry Potter and the Chamber of Secrets (Book 2), Length: 888, dtype: float64

In [119]:
for i in range(len(suggestion)):
    print(len(suggestion[0]))
    print(book_pivot.index[suggestion[i]])

6
Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='Title')

In [96]:
book_names = book_pivot.index

In [97]:
book_names[9]

'A Cry In The Night'

In [100]:
#Getting the index for a chosen book
np.where(book_pivot.index == '4 Blondes')[0][0]

3

In [125]:
# Creating the function for recommendation
def recommend(book_name):
    book_id= np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors = 6)
    print(f"Based on your book of choice: '{book_name}' \n")
    print("You might also like: ")
    books = book_pivot.index[suggestion[0]]
    for j in range(1,len(books)):
        print(books[j])

In [126]:
recommend('A Cry In The Night')

Based on your book of choice: 'A Cry In The Night'

You might also like:
Exclusive
No Safe Place
Deck the Halls (Holiday Classics)
The Cradle Will Fall
Long After Midnight

## Content based recommendation using LLM

In [2]:
import pandas as pd

In [4]:
filepath=r"/Users/deyachatterjee/Desktop/Book_recommender/Data/7kbooks.csv"

In [5]:
df=pd.read_csv(filepath)

In [6]:
df.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [7]:
def text_rep(row):
    tp=f"""Title: {row['title']}
    Authors: {row['authors']}
    Description: {row['description']}
    Categories: {row['categories']}
    Publishing year: {row['published_year']}
    Average Rating: {row['average_rating']}
    Number of pages: {row['num_pages']}
    """
    
    return tp

In [16]:
df.iloc[[0]].apply(text_rep, axis=1).values[0]

'Title: Gilead\n    Authors: Marilynne Robinson\n    Description: A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike.\n    Categories: Fiction\n    Publishing year: 2004.0\n    Average Rating: 3.85\n    Number of pages: 247.0\n    '

In [17]:
df['textual_representation']= df.apply(text_rep, axis=1)

In [18]:
df.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count,textual_representation
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0,Title: Gilead\n Authors: Marilynne Robinson...
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0,Title: Spider's Web\n Authors: Charles Osbo...
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0,Title: The One Tree\n Authors: Stephen R. D...
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0,Title: Rage of angels\n Authors: Sidney She...
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0,Title: The Four Loves\n Authors: Clive Stap...

In [19]:
import faiss
import requests
import numpy as np

In [24]:
dim=2304
index = faiss.IndexFlatL2(dim)
X = np.zeros((len(df['textual_representation']), dim), dtype = 'float32')

In [25]:
for i, representation in enumerate(df['textual_representation']):
    if i % 100 == 0:
        print(i)
    res = requests.post('http://localhost:11434/api/embeddings',
                       json = {
                           'model': 'gemma2:2b',
                           'prompt': representation
                       })
    embedding = res.json()['embedding']
    X[i]= np.array(embedding)
index.add(X)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800

In [26]:
faiss.write_index(index, 'index')

In [27]:
index = faiss.read_index('index')

In [28]:
fav_book = df.iloc[4533]

In [29]:
print(fav_book['textual_representation'])

Title: How to Win Friends and Influence People
    Authors: Dale Carnegie
    Description: Dale Carnegie aims to show how to makes friends, increase your prestige, break out of the vicious circle of worry and generally get the better of life, using a series of simple and practical rules, techniques and attitudes.
    Categories: Conduct of life
    Publishing year: 1990.0
    Average Rating: 4.18
    Number of pages: 256.0

In [31]:
res = requests.post('http://localhost:11434/api/embeddings',
                   json = {
                       'model': 'gemma2:2b',
                       'prompt': fav_book['textual_representation']
                   })

In [33]:
embedding = np.array([res.json()['embedding']], dtype = 'float32')

In [37]:
D, I = index.search(embedding, 10)

In [38]:
best_matches = np.array(df['textual_representation'])[I.flatten()]

In [39]:
for m in best_matches:
    print(m)
    print()

Title: How to Win Friends and Influence People
    Authors: Dale Carnegie
    Description: Dale Carnegie aims to show how to makes friends, increase your prestige, break out of the vicious circle of worry and generally get the better of life, using a series of simple and practical rules, techniques and attitudes.
    Categories: Conduct of life
    Publishing year: 1990.0
    Average Rating: 4.18
    Number of pages: 256.0


Title: Art of Being
    Authors: Erich Fromm
    Description: Fromm examines the true paths--as opposed to false directions--that will lead us to self-knowledge and enlightenment and offers another way to self-awareness and well-being, one based on psychoanalysis and self-awareness through meditation.
    Categories: Philosophy
    Publishing year: 1994.0
    Average Rating: 4.1
    Number of pages: 144.0


Title: The Elements of Style
    Authors: William Strunk;Elwyn Brooks White
    Description: The only style manual ever to appear on the best-seller lists offers practical, fundamental advice on improving writing skills, promoting a style marked by simplicity, orderliness, and sincerity
    Categories: Language Arts & Disciplines
    Publishing year: 1979.0
    Average Rating: 4.2
    Number of pages: 85.0


Title: Mere Christianity
    Authors: C. S. Lewis
    Description: Discusses the essence of Christian faith and the doctrine of the Trinity.
    Categories: Religion
    Publishing year: 1996.0
    Average Rating: 4.32
    Number of pages: 191.0


Title: Mere Christianity
    Authors: C. S. Lewis
    Description: A forceful and accessible discussion of Christian belief that has become one of the most popular introductions to Christianity and one of the most popular of Lewis's books. Uncovers common ground upon which all Christians can stand together.
    Categories: Religion
    Publishing year: 2001.0
    Average Rating: 4.32
    Number of pages: 227.0


Title: The Millionaire Next Door
    Authors: Thomas J. Stanley;William D. Danko
    Description: Reveals that the accumulation of wealth in the United States is most often done through hard work, diligent savings, and living a frugal lifestyle
    Categories: Biography & Autobiography
    Publishing year: 1998.0
    Average Rating: 4.02
    Number of pages: 258.0


Title: The 7 Habits of Highly Effective People
    Authors: Stephen R. Covey
    Description: In The 7 Habits of Highly Effective People, author Stephen R. Covey presents a holistic, integrated, principle-centered approach for solving personal and professional problems. With penetrating insights and pointed anecdotes, Covey reveals a step-by-step pathway for living with fairness, integrity, service, and human dignity—principles that give us the security to adapt to change and the wisdom and power to take advantage of the opportunities that change creates.
    Categories: Self-Help
    Publishing year: 2004.0
    Average Rating: 4.09
    Number of pages: 372.0


Title: The Poetics of Space
    Authors: Gaston Bachelard
    Description: Shows how our perceptions of home shape our thoughts, memories, and dreams, and discusses each space from cellar to attic
    Categories: Philosophy
    Publishing year: 1994.0
    Average Rating: 4.19
    Number of pages: 282.0


Title: The Naked Ape
    Authors: Desmond Morris
    Description: Examines sex, child rearing, fighing, feeding habits, and exploration of man in an attempt to establish bonds with the animal kingdom
    Categories: Science
    Publishing year: 1999.0
    Average Rating: 3.95
    Number of pages: 256.0


Title: On Death and Dying
    Authors: Elisabeth Kübler-Ross
    Description: Explains the attitudes of the dying toward themselves and others and presents a humane approach to relieving the psychological suffering of the terminally ill and their families
    Categories: Family & Relationships
    Publishing year: 1997.0
    Average Rating: 4.16
    Number of pages: 288.0